
/*  Color

Text color : #474747
 background-color: #FFF8F3;
#FD6E0A



*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}
.primary{
    color: #FD6E0A;
}
.size{
    width: 80%;
    margin: 0px auto;
}
body{
    font-family: "Open Sans", sans-serif;
}
header {
    background-color: #FFF8F3;
    padding: 40px 0px 0px 0px;
}
  

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}
nav > h3{
 font-size: 43px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul > li {
    list-style: none;
    margin-left: 50px;
    text-align: center;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans';
    color: #474747;
}
#btn_hire {
    background-color: #FD6E0A;
    display: block;
    width: 136px;
    height: 50px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 50px;
    border-radius: 5px;
}
.header_content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 83vh;
}
.content h3 {
    font-size: 45px;
    font-weight: 700;
}
.content h1 {
    font-size: 85px;
    font-weight: bold;
}
.content p {
    font-size: 18px;
    margin: 14px 0px 30px 0px;
}
.btns_header{

}
.btns_header a {
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    max-width: 200px;
    height: 50px;
    background: #FD6E0A;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 20px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
a#contact {
    background: none;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
    width: 160px;
}

.header_left_content {
    width: 50%;
    height: auto;
    margin: auto 0px;
    text-align: justify;
}
.content {
    margin: 0px auto;
    margin-left: 20%;
}
.header_right_content {
    width: 50%;
    /* height: 676px; */
    background: url(/img/header_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    background-origin: border-box;
    overflow: visible;
    text-align: end;
}
.header_right_content img {
    width: 60%;
    height: 100%;
}
/* ========================= about ============================== */
.title{
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.paragraph{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 19px 0px;
    text-align: center;
    line-height: 26px;
}
.about {
    
    
    margin: 110px 0px;
}
.about_content {
    padding: 80px;
    background: #FFF8F3;
    
}

.about_content table {
    width: 100%;
    text-align: center;
    line-height: 25px;
}
.about_content table tr {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.about_content table td {
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}
/* ==================== what to do ============================ */
section.what_to_do {
    margin-bottom: 110px;
}
.subject_cards {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

}
.card {
    width: 20%;
    height: auto;
    padding: 26px 16px;
    box-shadow: 0px 6px 18px 0px #00000024;
    border-radius: 6px;
    text-align: center;
}
.card img{
    width: 50px ;
    height: 50px;
    
}
.card h2 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin: 14px 0px;
}
.card p {
    font-size: 16px;
    color: #757575;
    line-height: 22px;
    
}
/* ===================== summary =========================== */
.summary_container {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin-top: 80px;
}
.summary_title {
    font-size: 30px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 30px;
}
.summary_designation_title {
    color: #474747;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
}
.mute{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
}
.designation_paragraph {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    padding: 14px 0px;
}
.designation {
    border-bottom: 2px solid #7873731c;
    padding-bottom: 14px;
    margin-bottom: 30px;
}